body {
  margin: 0;
  background: #18191a;
  color: white;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: #4bb543;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-bar > :last-child {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.nav-bar > * {
  padding: 0 1rem 0 0;
}

.users-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}
.users-info-header > * {
  padding: 0 1rem;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #bebebe;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #69f0ae;
}
